<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="INSERT_KEY_WORDS, COMMA SEPARATED, FOR SEO">
        <meta name="description" content="INSERT_TEXT_DESCRIPTION FOR SEO">
        <meta name="author" content="AUTHOR_NAME; MAYBE CONTORG_ORG or my name, will have to decide">
        <link rel="stylesheet" href="../../static/core/core-styles.css">
        <title>Contorg Home</title>
    </head>
    <body>
        <header>
            <nav class="site-header">
                <h1 class="logo">Contorg</h1>
                <div>
                    <ul class="nav-list">
                        <li><a>Home</a></li>
                        <li><a>Tables</a></li>
                        <li><a>Dashboard</a></li>
                        <li><a href="login/login.html">Login</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            <article>
                <h2>Contorg: The Content Organizing App</h2>
                <section>
                    <h3>What is Contorg?</h3>
                        <p>
                            Organizing, tracking, and gaining insight into the things we choose 
                            to consume such music, books, video games,
                            film, televison and more, today is an incredibly difficult task. A task
                            this website seeks to solve in part. With the explosion of content, and
                            the multi-service nature of that content, it can be difficult to track
                            your material content in a centralized resource. If one wanted to track
                            the content they consumed, it would be very complex. Content providers
                            such as amazon(kindle and prime), netflix, hulu, HBO, Spotify, Apple Music,
                            and more continue to proliferate while mass-content trackers such as
                            imdb or goodreads, and these services often do not allow more custom unverified
                            inputs. And switching between difference services for tracking personal content
                            may be quite annoying. Particularly if you choose to track information
                            like the page number you were on, or personal ratings scales, and more.
                        </p>
                        <p>
                            Some of the issues are unfortunately structural, most of these companies
                            value their(read: your) data highly, and will not grant access to it publicly
                            via standardized manners called APIs, leaving us in a situation where it is
                            incredibly difficult or impossible to coalesce this data into one source such
                            as my website automatically with ease. And even knowing which for example
                            films or TV shows are available on which streaming service is non-trivial,
                            as you need to have access to a trustworthy database of such knowledge which
                            is generally not free and therefore not an option for a website like ours. 
                            On the other hand manual scrapping can be difficult to tune since much of the
                            information is unverified and unsure. 
                        </p>
                </section>
                <section>
                    <p>
                        
                    </p>
                </section>
            </article>
        </main>
        <footer>

        </footer> 
    </body>
</html>

